i.mce-i-icon {
    font: 400 20px/1 dashicons;
    padding: 0 2px 0 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
}

.vr-icon
{
background: red;  /* url("icon.png") no-repeat;*/
}

i.vr-own-icon {
    background-image: url('../img/icon.png');
}

i.video-own-icon {
    background-image: url('../img/video_icon.png');
}
